/* Initialisation de notre projet*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* declaration des VARIABLES */
html {
  --var-bg-color: #7743e7;
  --var-secondary-color: #6e51cf;
  --var-text-color: #ffffff;
  --var-text-color-dark: #333;
  --var-bg-light: #f0f0f0;
}

body {
  font-family: sans-serif;
  background-color: var(--var-bg-light);
  color: var(--var-text-color-dark);
}

header {
  height: 4rem;
  background-color: white;
  padding: 0 2rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  box-shadow: 0 0 10px rgba( 0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

header nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: var(--var-text-color-dark);
    font-weight: 500;
    transition: 0.3s;
}
nav ul li a:hover{
   color: var(--var-secondary-color);
}

header button{
    background-color: var(--var-secondary-color);
    color: var(--var-text-color);
    border: none;
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

header button:hover{
    background-color: var(--var-text-color);
    color: var(--var-text-color-dark);
    border: var(--var-secondary-color);
}

/* mise en forme de la section MAIN */
main {
  padding: 2rem;
}

#hero {
    width: 100%;
    height: 70vh;
    border-radius: 5px;
    padding: 2rem;
  background: linear-gradient(
    90deg,
    var(--var-bg-color) 15%,
    var(--var-secondary-color)100%
  ); 

  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
}

#hero .gauche h1 {
    font-size: 3rem;
    font-weight: 900;
    color: var(--var-text-color);
}

#hero .gauche p {
    font-size: clamp(1rem, 2vw, 1rem);
    color: var(--var-text-color);
}
.gauche button {
    background-color: var(--var-text-color);
    color: var(--var-text-color-dark);
    margin-top: 1.4rem;
    border: none;
    padding: 0.9rem 1rem;
    border-radius: 0.3rem;
    font-weight: 500;
    cursor: pointer;
}


.droite {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.droite img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 100;
}

.effets {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    z-index: 1;
  }

.effets .cercle {
    width: 100px;
    height: 100px;
    border-radius: 50%;

        animation: animation 4s ease-in infinite; 
}

    /* bulle 1  */
.cercle:nth-child(1) {
   background: linear-gradient(90deg, var(--var-bg-color) 15%, #9b8dc8 100%);
   position: absolute;
   right: 10px;
   animation-delay: 1s;
} 

/* bulle 2 */
.cercle:nth-child(2) {
  background: linear-gradient(90deg, var(--var-bg-color) 15%, #9b8dc8 100%);
   position: absolute;
   left: 10px;
   animation-delay: 0.5s;
}

/* bulle 3 */
.cercle:nth-child(3) {
    background: linear-gradient(90deg, var(--var-bg-color) 15%, #9b8dc8 100%);
   position: absolute;
   top: 10px;
   left: 100px;
}


@keyframes animation{
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(100px);
    }
    100%{
        transform: translateY(0);
    }
}

/* mise en forme de la section services */

#service {
    margin-top: 2rem;
}

#services h2 {
    font-size: 2rem;
    font-weight: 900;
    color: var(--var-text-color-dark);
    margin-bottom: 1rem;
    text-align: center;
}

/* CONTENEUR des services */
.services-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 3rem;
}

/* CHAQUE services */
.service {
  width: 22%;
  text-align: center;
  background-color: #f5f6f5;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.service i {
  width: 30px;
  height: 30px;
  background-color: #b8a9d7;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: absolute;
}

.service i {
  color: var(--var-bg-color);
  background-color: #fff;
}
.service i {
  color: #fff;
  background-color: var(--var-bg-color);
}

.service h3 {
  margin-top: 1rem;
}

/* mise en forme de la partie album */

#album {
  margin-top: 2rem;
}

#album h2 {
   font-size: 2rem;
   font-weight: 900;
   color: var(--var-text-color-dark);
   margin-bottom: 1rem;
   text-align: center;
}

#album .photo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.photo img {
  width: 100%;
  border-radius: 5px;
}

#contact {
  margin-top: 3rem;
  display: flex;
  height: calc(100vh - 200px);
  background-color: #fff;
}

#contact .partie1,
.partie2{
   flex: 1;
   border-radius: 5px;
   margin-bottom: 1rem;
   position: relative;
   padding: 1rem;
   height: 100%;
}


#contact .partie1 {
   background-color: #ccb6fa;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

 #contact h2 {
  font-size: 2rem;
  font-weight: 900;
  color: var(--var-text-color-dark);
  margin-bottom: 1rem;
  text-align: center;
}

.partie2 form {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.partie2 form input, textarea {
  width: 100%;
  padding: 0.8em 1rem;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  outline: none;
  border-radius: 5px;
  font-size: 1rem;
  transition: 0.3s;
}

.partie2 form textarea {
  height: 100px; 
}

.partie2 form input:focus, textarea:focus {
  border: 1px solid var(--var-bg-color);
}

.partie2 form button {
  background: var(--var-bg-color);
  color: var(--var-text-color);
  border: none;
  padding: 0.9rem 1rem;
  border-radius: 3rem;
  font-size: 500;
  cursor: pointer;
  transition: 0.3s;
}

.partie2 form button:hover {
  background-color: var(--var-secondary-color);
}

/* mise en forme footer */

footer {
  width: 100%;
  height: 100px;
  background-color: var(--var-text-color);
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--var-bg-color);
}

/* mise en forme de tout les reseaux */
.reseaux {
  position: fixed;
  right: 0;
  bottom: 3rem;
  background-color: #ccb6fa;
  padding: 10px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.reseaux .carte {
  width: 30px;
  height: 30px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  cursor: pointer;
}

.carte:hover {
  background-color: #fff;
  border-radius: 5px;
}

/* medias queriers */

@media screen and (max-width:768px) {
  header nav {
    display: none;
  }

  main {
    padding: 1rem;
  }
   
  #hero {
    flex-direction: column;
    min-height: 100vh;
    gap: 10px;
  }
  .gauche {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center ; 
  }
  #hero .gauche h1 {
    font-size: 40px;
    text-align: center; 
  }
  /* services */

  .services-list {
    flex-direction: column;
    gap: 2rem;
  }
  .service {
    width: 100%;
  }

 #contact {
  min-height: 150vh;
  flex-direction: column-reverse;
 } 
}
